footer
  .container.text-center
    p.float-left © 2018 ProMania, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/Mosh-Media/ProMania-back-end') GitHub Project
